<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pl">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
<body>
<p align="center"> <h2>Spis komputerów</h2></p> <br>
<table class="table table-striped">
    <tr><th>Marka</th><th>Model</th><th>Procesor</th><th>Karta Graficzna</th><th>Opis</th></tr>
    <tr  th:each="wpis: ${computers}">
        <td th:text="${wpis.marka}">Marka</td>
        <td th:text="${wpis.model}">Model</td>
        <td th:text="${wpis.procesor}">Procesor</td>
        <td th:text="${wpis.kartaGraficzna}">Karta Graficzna</td>
        <td th:text="${wpis.opis}">Opis</td>

        <td><a href="#" th:href="@{/kasuj(id=${wpis.id})}" class="btn btn-danger">
            <i class="fa fa-trash-o fa-lg"></i>Kasuj</a></td>
        <td>
            <a href="#" th:href="@{/przekieruj(id=${wpis.id})}" class="btn btn-primary">
                <i class="fa fa-trash-o fa-lg"></i>Aktualizuj</a></td>
    </tr>

</table>
<table class="table table-striped">
    <tr><td> Wyszukaj osoby wg modelu</td>
        <td>
            <form action="http://localhost:8080/wyszukaj"><input name="kryterium">
                <input type="submit"></form>
        </td>
    </tr>
</table>

</body></html>
